/*
 * All variables are defined in '@/plugins/vuetify.ts'
 */

.__color_danger {
  color: rgb(var(--v-theme-danger)) !important;
}

.__background_color_primary {
  background-color: rgb(var(--v-theme-primary)) !important;
}

.__background_color_tertiary {
  color: rgb(var(--v-theme-white)) !important;
  background-color: rgb(var(--v-theme-tertiary)) !important;
}

.__background_color_white {
  color: rgb(var(--v-theme-primary)) !important;
  background-color: rgb(var(--v-theme-white)) !important;
}

.__background_color_dark {
  color: #fff !important;
  background-color: rgb(var(--v-theme-primary)) !important;
}

/**
 * Vuetify 3 doesn't support v-date-picker yet, it's a workaround
 */
input[type="date"] {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  line-height: normal !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}