.navbar {
  position: initial !important;

  &-title {
    >.v-card-title,
    >.v-card-subtitle {
      padding: 0;
    }

    > .v-card-title {
      line-height: initial;
    }

    > .v-card-subtitle {
      text-transform: uppercase;
    }
  }
}

.v-toolbar__append {
  align-items: center;
}
